<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FLWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  

<servlet>
     <servlet-name>FileUploadHandler</servlet-name>
     <servlet-class>fl.node.server.web.FileUploadHandler</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>FileUploadHandler</servlet-name>
     <url-pattern>/upload</url-pattern>
</servlet-mapping>
    
<servlet>
     <servlet-name>FLServletStartAlgorithm</servlet-name>
     <servlet-class>fl.node.server.web.FLServletStartAlgorithm</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>FLServletStartAlgorithm</servlet-name>
     <url-pattern>/FLServletStartAlgorithm</url-pattern>
</servlet-mapping>

<listener>  
    <listener-class>
        fl.node.server.web.ListenerName
    </listener-class>
</listener> 

</web-app>